@import '../colors';

.contact{
    height: 100vh;
    width: 100%;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $darkGreen;
    h1{
        font-size: 3rem;
    }
}