@import '../colors';

.home{
    background-color: $background;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 3rem;
        color: $darkBlue;
        width: 80%;
        margin-bottom: 20px;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
        
    }
    h2{
        font-size: 2rem;
        color: $blue;
        width: 80%;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
        span{
            color: $darkBlue;
            font-style: italic;
        }
    }
}

@media(min-width:900px){
    .home{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            font-size: 5rem;
        }
        h2{
            font-size: 3rem;
        }
    }
}