@import '../colors';

.about{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: $background;
    h1{
        font-size: 3rem;
        color: $darkBlue;
        width: 80%;
        margin-bottom: 5vh;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    }
    p{
        font-size: 1.3rem;
        color: $blue;
        width: 80%;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    }
    .down-arrow{
        font-size:4rem;
        position: absolute;
        bottom: 16vh;
    }
}

@media(min-width:900px){
    .about{
        h1{
            font-size: 5rem;
        }
        p{
            font-size: 2rem;
        }
    }
}