@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@400;500;600;700&family=Sigmar+One&family=Suez+One&display=swap');

$green: #8fde20;
$darkGreen: #73c401;
$darkDarkGreen: #589600;
$lightGreen: #9bd844;
$blue: #00b8cd;
$darkBlue: #0D2C54;
$yellow: #dede20;
$grey: #e6e6e6;
$background: #e6e6e6;
$background-light: #e6e6e6;

$font1: 'Quicksand', sans-serif;
$font2: 'Fredoka One', cursive;
$font3: 'Sigmar One', cursive;
$font4: 'Suez One', serif;


// $orange: #F5B700;
// $yellow: #f5ed00;
// $blue: #008BF8;
// $pink: #DC0073;
// $green: #04E762;
// $darkGreen: #04D259;
// $purple: #6E46B6;
// $redOrange: #E95C3A;
// $lightRedOrange: #E95C3A;
// $darkRedOrange: #E95C3A;
// $background: #f0f0f0;